<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<!-- templates/board/boardList.html -->
<div id="board-list-container">

    <div th:fragment="boardListFragment">
        <div>
            <h2>Product List</h2>

            <!-- 글쓰기 버튼 -->
            <div style="text-align: right; margin-bottom: 10px;" th:if="${username != 'anonymousUser'}">
                <button class="write-button" id="writeButton" type="button" onclick="loadWriteFragment()">Board Write</button>
            </div>

            <!-- 게시글 리스트 -->
            <div class="boardListContainer" id="board-list">
                <table>
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 게시글 데이터를 Thymeleaf로 렌더링 -->
                    <tr th:each="board : ${boardPage.content}" class="board-item" th:onclick="'fetchBoardDetail(' + ${board.id} + ')'">
                        <td th:text="${board.title}">Title</td>
                        <td th:text="${board.user}">Writer</td>
                        <td>
                            <span th:text="${#temporals.format(board.displayedTime, 'yyyy-MM-dd HH:mm')}">Time</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이징 버튼 -->
            <div id="pagination" style="text-align: center; margin-top: 20px;">
                <!-- 이전 버튼 -->
                <button id="prev-button" th:attr="disabled=${boardPage.first}"
                        th:onclick="'fetchBoardPage(' + (${boardPage.number - 1}) + ')'"><</button>

                <!-- 현재 페이지 정보 -->
                <span>
                Current Page: <span id="current-page" th:text="${boardPage.number + 1}"></span> /
                <span id="total-pages" th:text="${boardPage.totalPages}"></span>
            </span>

                <!-- 다음 버튼 -->
                <button id="next-button" th:attr="disabled=${boardPage.last}"
                        th:onclick="'fetchBoardPage(' + (${boardPage.number + 1}) + ')'">></button>
            </div>


        </div>
    </div>

</div>
<script src="/js/board.js"></script>
<script src="/js/common.js"></script>
</body>
</html>
