<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../../../../../../startbootstrap-shop-homepage-gh-pages/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="shortcut icon" href="">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">JY Lion Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Cart and Login buttons, adjusted for responsive layout -->
            <div class="d-flex align-items-center justify-content-end">
                <!-- 로그인된 유저만 Post 버튼을 보도록 설정 -->
                <div >
                    <form class="me-2">
                        <button class="btn btn-outline-dark d-flex align-items-center" type="button" id="boardButton">
                            <i class="bi-plus-circle me-1"></i>
                            <!--<i class="bi-bag-plus me-1"></i>-->
                            Board
                        </button>
                    </form>
                </div>
                <form th:action="@{/loginPage}" method="get" >
                    <button  type="submit" id="loginButton">
                        <!--<i class="bi-person me-1"></i>-->
                        Login
                    </button>
                </form>
                <button id="logoutButton">
                    <!--<i class="bi-person me-1"></i>-->
                    Logout
                </button>
            </div>
        </div>
    </div>
</nav>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">JY Lion Shop</h1>
            <!--<p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>-->
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5" id="mainunder">


    <div id="board-list-container">
        <!-- 여기에 boardListFragment가 동적으로 삽입됩니다. -->
    </div>
    <div id="board-detail-container" style="display: none;">
        <!-- 이곳에 상세 내용이 표시됩니다 -->
    </div>

    <div id="main-in-the-section">

        <div class="container px-4 px-lg-5 mt-5">

        </div>
    </div>

</section>
<!-- Footer -->
<!--<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>-->

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/board.js"></script>
<script>

</script>

</body>
</html>
