<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div class="container">
    <h2>Login</h2>
    <form onsubmit="login(event)">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
<script>
    async function login(event) {
        event.preventDefault(); // form의 기본 동작을 방지

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/api/auth/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        });

        if (response.ok) {
            const data = await response.json();
            localStorage.setItem('token', data.token);  // JWT 토큰을 저장
            console.log('로그인 성공');
            // 메인 페이지로 리디렉션
            window.location.href = "/";
        } else {
            console.alert('로그인 실패');
        }
    }
</script>
</body>
</html>
